@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

#root {
  height: calc(100% - 1.25rem);
  top: 1.25rem;
  position: absolute;
  left: 0;
  width: 100%;
}

body {
  display: block;
}
